@import "tailwindcss";

@layer utilities {
  .pt-env-top {
    padding-top: env(safe-area-inset-top, 0px);
  }
  .pb-env-bottom {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
